<% include ../partials/lens/header.ejs %>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<a class="navbar-brand page-scroll" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
						<h1><%= gallery_info.title %></h1>
						<p><%= gallery_info.sub_title %></p>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<% for(var i=0; i<gallery_info.images.length; i++) { %>
							<article>
								<a class="thumbnail" href="<%= gallery_info.images[i]['url'] %>" data-position="left center">
									<img data-width="400" src="<%= gallery_info.images[i]['url'] %>" alt="" />
								</a>
								<h2><%= gallery_info.images[i]['name'] %></h2>
								<p><%= gallery_info.images[i]['msg'] %></p>
							</article>
						<% } %>
					</section>
	</body>
<% include ../partials/lens/footer.ejs %>