<!DOCTYPE HTML>
<html>
	<% include ../partials/head.ejs %>
	<body class="is-preload">

		<% include ../partials/header.ejs %>

		<!-- Portfolio -->
		<section id="gallery">
			<% recent_projects.forEach(project => {%>
				<article id="<%= project.title.replace(/ /g, '')%>" class="container box style2">
					<p class="recently_updated">Recently Updated!</p>
					<header>
						<a href="#<%= project.title.replace(/ /g, '')%>"><h2><%= project.title%></h2></a>
						<p><%= project.location%><br/><%= project.term%></p>
					</header>
					<div class="inner gallery">
						<div class="row gtr-0">
							<% for(var i = 1; i <= project.items; i++) {%>
								<div class="col-3 col-12-mobile"><a href="<%= project.link_prefix%><%=i%>.JPG" class="image fit"><img src="<%= project.link_prefix%><%=i%>-thumb.JPG" alt="" title="<%= project.title%>" /></a></div>
							<%}%>
						</div>
					</div>
				</article>
			<%})%>
			<% other_projects.forEach(project => {%>
				<article id="<%= project.title.replace(/ /g, '')%>" class="container box style2">
					<header>
						<a href="#<%= project.title.replace(/ /g, '')%>"><h2><%= project.title%></h2></a>
						<p><%= project.location%><br/><%= project.term%></p>
					</header>
					<div class="inner gallery">
						<div class="row gtr-0">
							<% for(var i = 1; i <= project.items; i++) {%>
								<div class="col-3 col-12-mobile"><a href="<%= project.link_prefix%><%=i%>.JPG" class="image fit"><img src="<%= project.link_prefix%><%=i%>-thumb.JPG" alt="" title="<%= project.title%>" /></a></div>
							<%}%>
						</div>
					</div>
				</article>
			<%})%>
		</section>

		<% include ../partials/footer.ejs %>
		<% include ../partials/scripts.ejs %>

	</body>
</html>