<% include ../partials/parallelism/header.ejs %>
	<body>
		<div id="wrapper">

			<div id="main">
				<div id="reel">

					<!-- Header Item -->

						<div id="header" class="item" data-width="400">
							<div class="inner">
								<h1><%= title %></h1>
								<p><%= sub_title %></p>
								<p>(allthingstravel)</p>
							</div>
						</div>

					<!-- Thumb Items -->

						<% for(var i=0; i<gallery_info.length; i++) { %>
							<article class="item thumb" data-width="<%= gallery_info[i]['thumb_width'] %>">
								<a href="gallery-<%= gallery_info[i]['title'] %>">
									<h2><%= gallery_info[i]['title'] %></h2>
									<img src="<%= gallery_info[i]['thumb'] %>" alt="">
								</a>
							</article>
						<% } %>
				</div>
			</div>
	</body>
<% include ../partials/parallelism/footer.ejs %>